/*************************
Splash Page Format
*************************/
ul {
	list-style: none;
}

li:hover {
  background: steelblue;
}


.title {
	color: #222;
	font-family: 'Droid Sans', sans-serif;
	background-color: red;
}

.noted {
  background: pink;
}

/*************************
Splash Image
*************************/
.scroll {
	height: 500px;
}

/*************************
Splash Image
*************************/
.about-div {
	background-color: orange;
	text-align: center;
	width: 400px;
/*	float: left;
*/}

.about {
	overflow: hidden;
	width: 800px;
	margin: auto 0;
	text-align: center;
}

.container {
	text-align: center;
	width: 1000px;
}

.bold {
	font-weight: bold;
}

/*************************
Book CSS
*************************/
p {
	color: purple;
  font-family: 'Droid Sans', sans-serif;
  margin: auto;
  width: 98%;
  background-color: blue;
}