/*************************
Splash Page Format
*************************/
ul {
	list-style: none;
}

li:hover {
  background: steelblue;
}


.title {
	color: #222;
	font-family: 'Droid Sans', sans-serif;
}

.noted {
  background: pink;
}

/*************************
Splash Image
*************************/
.scroll {
	height: 500px;
}

/*************************
Splash Image
*************************/
.about-div {
	background-color: orange;
	text-align: center;
}




/*************************
Book CSS
*************************/
p {
	color: purple;
  font-family: 'Droid Sans', sans-serif;
  margin: auto;
  width: 50%;
}