/* CSS declarations go here */

li:hover {
    background: steelblue;
}/* CSS declarations go here */


ul {
    list-style: none;
}

p {
    margin: auto;
    width: 50%;
}

.noted {
    background: pink;
}