.paragraphArea{
  max-width: 50%;
  margin-left: 5%;
  float: left;
}

body{
  background: #222;
  color: #e9fbfe;
  font-family: 'Droid Sans', sans-serif;
}
p{
  padding:5px;
}

.notebar{
  float: right;
  width: 40%;
  height: 90%;
  border: 1px solid #e9fbfe;
  right: 10px;
  position: fixed;
  border-radius: 5px;
}

.singlenote{
  border-bottom: 1px solid #e9fbfe;
  font-size: 25px;
  padding: 10px;
}

*{
  -webkit-transition: 0.2s linear;
}